:root {
  --font-sans: Cereal, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  font-family: var(--font-sans);
}
body {
  margin: 0;
}
